.text_header_info {
    font-size: 1.7em;
    margin-block: 10px;
    font-weight: 400;
}

.text_info {
    color : var(--defaultColor);
    margin-block : 20px;
}

/* main layout */
.main_wrapper {
    display: grid;
    grid-template-columns: 300px 900px;
}

.sub__wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap : 5em;
}

/* footer sec */

footer {
    background-color: white;
    padding : 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktopFooter {
    position: fixed;
    bottom: 0;
}

.footer_nav ul {
    display: flex;
    gap : 10px;
}

.footerList a {
    padding : 0;
    font-size: .8em;
}

.footer_nav ul li a {
    color : var(--defaultColor);
}


.footer_nav ul li a:hover {
    text-decoration: underline;
}